@charset "UTF-8";

/*
CSS Tutorial (referenced) W3Schools, 26 Nov. 2023,https://www.w3schools.com/css/
"how to use flex in css" prompt (referenced) ChatGPT 3 Aug. version, OpenAI, 26 Nov. 2023, chat.openai.com/chat.
*/

.page {
	max-width: 100%;
    padding: 0 2rem;
    font-family: Arial, sans-serif;
}

.toppage {
	display: flex;
    align-items: center;
}

.JoesTable {
	color: red;
	font-size: 3rem;
	text-decoration: none;
    margin: 0 auto 0 0;
    padding: 1rem 0rem;
    font-family: 'Galada', cursive; 
}

.topbar {
    text-decoration: none;
    color: black;
    padding: 0 1rem;
}

.srchbar {
	display: flex;
	flex-direction: column;
}

.srchrow1 {
	align-items: center;
    padding-bottom: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.srchname {
	font-size: 1rem;
    padding: 0.4rem 35rem 0.4rem 0.25rem;
    border: 1px solid gray;
    border-radius: 5px;
    margin-right: 1rem;
}

.srchmag {
    margin: 0 1rem;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: 1px solid transparent;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
	margin-left: 1rem;
}

.srchfiltersrow {
	display: flex;
	flex-direction: column;
}


.srchfilters1, .srchfilters2 {
	justify-content: space-between;
	margin-right: 5rem;
	margin-left: 5rem;
	display: flex;
    flex-direction: row;
    align-items: center;
}

.lat, .lon {
	font-size: 1rem;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0 2rem 0 0;
    padding: 0.4rem 14rem 0.4rem 0.25rem;
}


#displaymap {
    margin: 0 1rem;
    border-radius: 5px;
    background-color: blue;
    color: white;
    border: 1px solid transparent;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
	margin-left: 1rem;
}

#map{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	position: absolute;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	display: none;
	width: 60%;
	height: 60%;
}

.sortrow {
	display: flex;
	flex-direction: row;
    align-items: center;
}

.user{
	margin-right: 50rem;
}

.usertxt {
	font-size: 2rem;
	color: gray;
}

.sorttype {
	margin: 0 1rem;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: 1px solid transparent;
    padding: 1rem 1rem;
    margin-right: 1rem;
	margin-left: 1rem;
}

.favs {
	max-width: 100%;
	width: auto;
}

.restaurant {
	display: flex;
    max-width: 100%;
    align-content: center;
    color: gray;
}

.imgs{
	padding: 1rem 2rem 1rem 0;
}

.restdetails {
    flex: 1; 
}

.restname{
	font-size: 1.5rem;
	color: gray;
}

.image {
	width: 275px;
	height: 275px;
	object-fit: cover;
	object-position: center;
	border-radius: 10px;
}

.link {
	text-decoration: none;
}

.favoritebtn input[type="submit"] {
	width: 100%;
    background-color:yellow;
    color: grey;
    border: transparent;
    border-radius: 5px;
    margin: 1.25rem 0;
    padding: 0.5rem 2rem;
    outline:none;
}

.reservationbtn button#revealres {
	width: 100%;
    background-color:red;
    color: grey;
    border: transparent;
    border-radius: 5px;
    margin: 1.25rem 0;
    padding: 0.5rem 2rem;
    outline:none;
}

.reservationbtn button#submitres {
	width: 100%;
    background-color:red;
    color: grey;
    border: transparent;
    border-radius: 5px;
    margin: 1.25rem 0;
    padding: 0.5rem 2rem;
    outline:none;
    justify-content: center;
}

.resparams {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.datetime {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.dt {
	width: 41rem;
    padding: 0.5rem;
    margin: 0 1rem 0 0;
}

.notes textarea {
    width: 100%;
}

