@charset "UTF-8";

/*
CSS Tutorial (referenced) W3Schools, 26 Nov. 2023,https://www.w3schools.com/css/
"how to use flex in css" prompt (referenced) ChatGPT 3 Aug. version, OpenAI, 26 Nov. 2023, chat.openai.com/chat.
*/

.page {
	max-width: 100%;
    padding: 0 2rem;
    font-family: Arial, sans-serif;
}

.toppage {
	display: flex;
    align-items: center;
}

.JoesTable {
	color: red;
	font-size: 3rem;
	text-decoration: none;
    margin: 0 auto 0 0;
    padding: 1rem 0rem;
    font-family: 'Galada', cursive; 
}

.topbar {
    text-decoration: none;
    color: black;
    padding: 0 1rem;
}

.forms {
	display: flex;
}

.loginform {
	flex: 1;
    padding: 0 1rem;
}

.signupform {
	flex: 1;
    padding: 0 1rem;
}

.loginform input,
.signupform input,
.loginform label,
.singupform label {
  display: block;
  margin-bottom: 1rem;
  
}

.signupform input[type="checkbox"],
.signupform label[for="terms"] {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0.5rem;
}

.txtbox {
	font-size: 1rem;
    width: 97%;
    padding: 0.5rem;
	border: 1px solid black;
    border-radius: 5px;
}

.logintitle{
	font-size: 2rem;
}

.sutitle {
	font-size: 2rem;
}

.button {
	width: 100%;
    background-color:red;
    color: white;
    border: transparent;
    border-radius: 5px;
    margin: 1.25rem 0;
    padding: 0.5rem 2rem;
}

.error {
	color: red;
}
